<a href="https://colab.research.google.com/github/DonghaeSuh/dacon/blob/main/Lv1_%EB%B3%B5%EC%8A%B5_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
--- 
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colabÏóê Î∂àÎü¨ÏòµÎãàÎã§.  
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§Ìñâ ÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [1]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-12-04 12:06:26--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2021-12-04 12:06:26--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 108.177.121.102, 108.177.121.100, 108.177.121.139, ...
Connecting to drive.google.com (drive.google.com)|108.177.121.102|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/820eg85gbi2la2l9dn4palgquiib0kot/1638619575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-12-04 12:06:27--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/820eg85gbi2la2l9dn4palgquiib0kot/1638619575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 142.251.6.132, 2607:f8b0:4001:c5a::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|142.251.6.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‚Äò3gLj0Q6‚Äô

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0.004s

2021-12-04 12:06:27 (9.23 MB/s) - ‚Äò3gLj0Q6‚Äô saved [39208/39208]

## ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
---

In [43]:
# Pandas ÏôÄ Scikit-learn ÎùºÏù¥Î∏åÎü¨Î¶¨Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî
from pandas import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier

## Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
---

In [14]:
# train.csv ÏôÄ test.csv Î•º DataFrame ÌÅ¥ÎûòÏä§Î°ú Î∂àÎü¨Ïò§ÏÑ∏Ïöî
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

## Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥ Í¥ÄÏ∞∞ÌïòÍ∏∞
---

In [17]:
# head() Î•º ÏÇ¨Ïö©Ìï¥ Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥Î•º Í¥ÄÏ∞∞ÌïòÏÑ∏Ïöî
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

In [16]:
test.head()

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

## Îç∞Ïù¥ÌÑ∞ ÌñâÏó¥ Í∞ØÏàò Í¥ÄÏ∞∞
---

In [20]:
# shape Î•º ÏÇ¨Ïö©Ìï¥ Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞Î•º Í¥ÄÏ∞∞ÌïòÏÑ∏Ïöî
train.shape

(1459, 11)

In [21]:
test.shape

(715, 10)

## Í≤∞Ï∏°Ïπò ÌôïÏù∏
---

In [ ]:
# info() Î•º ÏÇ¨Ïö©Ìï¥ Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [24]:
print(train.isnull().sum())

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

In [25]:
print(test.isnull().sum())

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

## Í≤∞Ï∏°Ïπò Ï†ÑÏ≤òÎ¶¨
---

In [28]:
# dropna() Î•º ÏÇ¨Ïö©Ìï¥ train Îç∞Ïù¥ÌÑ∞Îäî Í≤∞Ï∏°ÏπòÎ•º Ï†úÍ±∞ÌïòÍ≥†      Í≤∞Ï∏°Ïù¥ ÏûàÎäî ÌñâÏù¥ ÏÇ¨ÎùºÏßÑÎã§.
# fillna() Î•º ÏÇ¨Ïö©Ìï¥ test Îç∞Ïù¥ÌÑ∞ Í≤∞Ï∏°ÏπòÎäî 0 ÏúºÎ°ú ÎåÄÏ≤¥ÌïòÏÑ∏Ïöî.
# Í∑∏Î¶¨Í≥† Í≤∞Ï∏°ÏπòÏùò Í∞ØÏàòÎ•º Ï∂úÎ†•ÌïòÏó¨ ÌôïÏïàÌïòÏÑ∏Ïöî.                    # Ïã§Ïàò train.dropna() ÎÇò fillna(Î≠êÏãúÍ∏∞) ÌïúÎã§Í≥† ÎåÄÏ≤¥ÎêòÎäî Í≤ÉÏù¥ ÏïÑÎãò. ÎåÄÏûÖÏùÑ Ìï¥Ï£ºÏñ¥Ïïº ÌïúÎã§.
train = train.dropna()
test = test.fillna(0)

print(train.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

In [30]:
train.shape

(1328, 11)

## Î™®Îç∏ ÌõàÎ†®
---

In [ ]:
# train Îç∞Ïù¥ÌÑ∞Ïùò count ÌîºÏ≥êÎ•º Î∫Ä Í≤ÉÏùÑ X_train ÏúºÎ°ú Ìï†ÎãπÌïòÏÑ∏Ïöî.
# train Îç∞Ïù¥ÌÑ∞Ïùò count ÌîºÏ≥êÎßåÏùÑ Í∞ÄÏßÑ Í≤ÉÏùÑ Y_train ÏúºÎ°ú Ìï†ÎãπÌïòÏÑ∏Ïöî.
# ÌöåÍ∑ÄÏùòÏÇ¨Í≤∞Ï†ïÎÇòÎ¨¥Î•º ÏÑ†Ïñ∏ÌïòÍ≥† fit() ÏúºÎ°ú ÌõàÎ†®ÏãúÌÇ§ÏÑ∏Ïöî.

In [39]:
X_train = train.drop(['count'],axis=1)   # axis =0 Ïóê ÎåÄÌïúÍ≤ÉÏùÄ 2Ï∞®Ïõê Î∞©Ìñ•Ïù¥ÎØÄÎ°ú Ïó¥Î∞©Ìñ• Ïù∏Îç±Ïä§Í∞íÏùÑ dropÌï† Îïå ÏÇ¨Ïö©, axis =1 Ïóê ÎåÄÌïúÍ≤ÉÏùÄ 1Ï∞®Ïõê Î∞©Ìñ•Ïù¥ÎØÄÎ°ú labelÏùÑ Ïù¥Ïö©
Y_train = train['count']  # Î∞òÎåÄÎ°ú indexÎ°ú ÎΩëÏïÑÎÇ¥Í∏∞ => train[train.index==ÎÇ¥Í∞Ä ÏõêÌïòÎäî Ïù∏Îç±Ïä§ Í∞í]

## ÌÖåÏä§Ìä∏ ÌååÏùº ÏòàÏ∏°
---

In [49]:
# predict() ÏùÑ Ïù¥Ïö©Ìï¥ test data Î•º ÌõàÎ†®Ìïú Î™®Îç∏Î°ú ÏòàÏ∏°Ìïú data array Î•º ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.
model = DecisionTreeRegressor()  #ÌöåÍ∑Ä
model.fit(X_train,Y_train)
model2 = DecisionTreeClassifier()  #Î∂ÑÎ•ò
model2.fit(X_train,Y_train)

pred = model.predict(test)
pred2 = model2.predict(test)
pred.shape
pred2.shape

(715,)

## submission ÌååÏùº ÏÉùÏÑ±
---

In [50]:
# submission.csv Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.
# submission df Ïùò count ÌîºÏ≥êÏóê ÏòàÏ∏°Ìïú Í≤∞Í≥ºÎ•º ÎçßÏûÖÌûàÏÑ∏Ïöî.
# submission df Î•º to_csv() Î•º Ïù¥Ïö©Ìï¥ csv ÏùÑ ÏÉùÏÑ±ÌïòÏÑ∏Ïöî. *index=False) 
submission = pd.read_csv('data/submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv',index=False)

## Ï†ïÎãµ (`Ïà®Í≤®ÏßÑ ÏÖÄ nÍ∞ú` Î•º ÎàÑÎ•¥ÏÑ∏Ïöî.)
---
ÏßàÎ¨∏ÏÇ¨Ìï≠ÏùÑ ÏñºÎßàÎì†ÏßÄ [Í≤åÏãúÍ∏Ä](https://dacon.io/competitions/open/235698/talkboard/403540?page=1&dtype=recent)Ïóê ÎÇ®Í≤®Ï£ºÏÑ∏Ïöî üòâ <br>
Í∂ÅÍ∏àÌïú Í≤É, Ïù¥Ìï¥Í∞Ä Ïïà ÎêòÎäî Í≤É, ÏõêÎ¶¨, ÌôïÏû•Í∞úÎÖê, Ï∞∏Í≥† Îì±Îì± Î™®Îì† Î≤îÏúÑÏóêÏÑú ÏñºÎßàÎì†ÏßÄ ÏßàÎ¨∏ÏùÑ Îã¨ÏïÑÏ£ºÏÑ∏Ïöî üôã

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [4]:
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

In [5]:
test.head()

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

In [6]:
train.shape

(1459, 11)

In [7]:
test.shape

(715, 10)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

In [10]:
train = train.dropna()
test = test.fillna(0)

print(train.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

In [11]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

NameError: ignored

In [ ]:
pred = model.predict(test)

In [ ]:
submission = pd.read_csv('data/submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv',index=False)

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)